@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Inter", sans-serif;
    width: 1400px;
    margin: 0 auto;
    background-color: #ffffff;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-img {
    display: none;
}

.menu-icon {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.logo-name {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
}

.menubar ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

.menubar ul li {
    list-style: none;
}

.menubar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.menubar ul li a:hover {
    color: #dd6952;
}

.signup-btn {
    padding: 8px 16px;
    background: transparent;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;

}

.select-box {
    border: none;
    font-size: 16px;
    padding: 4px 8px;
    font-weight: 600;

}

.select-box:hover {
    cursor: pointer;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    height: 800px;
    align-items: center;
}

.vodeo-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.vodeo-container p{
    font-size: 16px;
    color: #dd6952;
}
.vodeo-container p:hover{
   cursor: pointer;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, 50%) scale(1);

}

.banner-content {
    width: 40%;
}

.banner-img {
    width: 60%;
    height: 100%;
    overflow: hidden;

}

.banner-img .image {
    width: 100%;
    height: 100%;
    text-align: right;
}

.banner-subtitle {
    font-size: 20px;
    text-transform: uppercase;
    color: #dd6952;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;
    color: #171e4b;
    margin-top: 16px;
    margin-bottom: 30px;
}

.banner-description {
    color: #171e4b;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.7;
}

.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 26px;
    gap: 36px;
}

.banner-btn {
    font-size: 18px;
    color: #FFF;
    padding: 14px 20px;
    background-color: #f0a501;
    border: none;
    border-radius: 8px;
    align-items: center;
}

.play-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.play-icon:hover {
    cursor: pointer;
}

.play-btn {
    display: flex;
    gap: 16px;
    align-items: center;

}

.play-btn p {

    opacity: 0.6;
}

.pause-btn {
    width: 44px;
    height: 44px;
    display: none;
    border-radius: 50%;
}
.hidden-btn{
    display: none;
}
.visible-btn{
    display: block;
}

.pause-btn:hover {
    cursor: pointer;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
}

.main-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    color: #171e4b;
}

.service-container {
    margin-top: 100px;
    margin-bottom: 100px;

}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 70px;
}

.service-card {
    width: 250px;
    height: 300px;
    padding: 10px;
    color: #171e4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    z-index: 20;

}

.shadow {
    box-shadow: 0px 5px #f7f4f4;
}

.card-img {
    width: 72px;
    height: 72px;
    overflow: hidden;
    z-index: 10;

}

.card-img>img {
    width: 100%;
    height: 100%;
}

.card-body {
    margin-top: 40px;
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: 500;
}

.card-description {
    font-size: 16px;
    margin-top: 20px;
    width: 180px;
}

.weather {
    text-align: right;
}

.block-space {
    width: 54px;
    height: 50px;
    background-color: #fff1db;
    border-radius: 8px;
    border-bottom-right-radius: 20px;
    position: absolute;
    right: 26%;
    top: 24%;
    z-index: 0;
}

.flight-block {
    top: 10%;
    left: 35%;
}

.mic-block {
    border-radius: 8px;
    border-top-right-radius: 20px;
    top: 15%;
}

.settings {
    border-radius: 8px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 12px;
    top: 22%;
}

.flight-service {
    position: relative;
    width: 250px;
    height: 300px;
}

.flight-card {
    width: 100px;
    height: 90px;
    background-color: #dd6952;
    position: absolute;
    bottom: -18%;
    left: -16%;
    z-index: 0;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 8px;
}

.destination-container {
    margin-top: 150px;
    margin-bottom: 100px;
}

.location-card {
    width: 348px;
    height: 450px;
    background-color: #ffffff;
    box-shadow: 4px 5px 4px #f2f2f2;
}

.destination {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.destination>img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.location-container {
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    margin-top: 70px;
}

.location-card {
    color: #2a2f50;
    border-radius: 20px;
}

.location-name {
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.location-name h1 {
    font-size: 20px;
}

.location-name p {
    font-size: 20px;
}

.right-arrow {
    width: 16px;
    height: 12px;
    transform: rotate(-45deg);
}

.trip-duration {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
    font-size: 16px;
}

.sub-title {
    text-align: left;
}

.title {
    text-align: left;
}

.book-section {
    margin-bottom: 100px;
}

.trip-card-container {
    margin-top: 40px;
}

.trip-card {
    display: flex;
    height: 150px;
    gap: 30px;
    align-items: center;
}

.choose-content {
    width: 72px;
    height: 72px;
    border-radius: 16px;
    background-color: #f0bb1f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.choose-content>img {
    width: 48px;
    height: 48px;
}

.choose-card {
    background-color: #dd6952;
}

.choose-card-3 {
    background-color: #006380;
}

.step-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trip-card-demo {
    background-color: #ffffff;
    width: 310px;
    padding: 30px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 20px #cecbcb;
    border-radius: 16px;
    position: relative;
}

.icon-card-content {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.icon-card {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.icon-card>img {
    width: 16px;
    height: 12px;
}

.card-text h1 {
    font-size: 20px;
    margin-top: 20px;
}

.card-text p {
    font-size: 16px;
    opacity: 0.6;
    margin-top: 16px;
}

.santorini {
    width: 310px;
    height: 150px;
    border-radius: 16px;
}

.building-icon {
    width: 18px;
    height: 18px;
}

.florence-city {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-position: center;
}

.sub-card {
    display: flex;
    gap: 30px;
    width: 250px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #eeecec;
    border-radius: 16px;
    position: absolute;
    right: -38%;
    bottom: 15%;
}

.ongoing {
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 5px;
}

.stat-content {
    font-size: 14px;
    margin-top: 12px;
}

.people-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.progress-bar {
    width: 180px;
    height: 5px;
    /* border: 1px solid black; */
    background-color: #b9b7b7;
    border-radius: 5px;
    margin-top: 6px;

}

.progress-line {
    width: 40%;
    height: 100%;
    background: #8a7bd6;
    display: block;
}

.heart-icon {
    width: 24px;
    height: 24px;
}

.testimonials-container {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.testimonials-card {
    width: 420px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #eeecec;
    padding: 30px;
    border-radius: 16px;
    position: relative;
}

.testimonials-para {
    font-size: 16px;
    opacity: 0.7;
    line-height: 30px;
}

.user-name {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
}

.user-location {
    font-size: 14px;
    opacity: 0.7;
}

.user {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -10%;
    left: -8%;
}

.testimonials {
    position: relative;
    margin-top: 150px;
}

.dot-container {
    position: absolute;
    bottom: 0%;
}

.dot-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #474646;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-right: 12px;
}

.dot-container input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #525050;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.brand-container {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 100px;
}

.brand-name {
    width: 200px;
    height: 80px;
    object-fit: cover;
    background: transparent;
    overflow: hidden;
}

.expedia {
    object-fit: contain;
}

.atalia {
    object-fit: fill;
}

.subscribe-container {
    background: #f8f7fd;
    border-radius: 16px;
    border-top-left-radius: 120px;
    margin-bottom: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subscribe-container h1 {
    text-align: center;
    margin-bottom: 100px;
    opacity: 0.7;
    color: #171e4b;
}

.subscribe-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.input-field {
    position: relative;
}

.input-field input {
    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding-left: 72px;
    box-shadow: 0px 0px 10px #f5f5f5f5;
}

::placeholder {
    color: #252c57;
}

.email-icon {
    width: 18px;
    height: 18px;
    object-fit: cover;
    position: absolute;
    left: 10%;
    top: 32%;
}

.subscribe-btn {
    width: 140px;
    height: 50px;
    background-color: #fe8d6b;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.subscribe-btn:hover {
    cursor: pointer;
    background: transparent;
    border: 1px solid #171e4b;
    color: #171e4b;
}

.telegram-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #8a7bd6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -24px;
    right: -24px;
}

.telegram-icon img {
    width: 32px;
    height: 32px;
}

.footer-details {
    background-image: linear-gradient(to bottom right, #ffff, #fff, #fefefe, #fefefe, #faf5fc, #f5eaf8);
    padding-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;

}

.footer-title {
    font-size: 24px;
    font-weight: 600;
}

.logo {
    font-size: 40px;
    font-weight: 700;
}

.book-trip {
    margin-top: 20px;
    font-size: 14px;
}

.footer-nav {
    margin-top: 30px;
}

.footer-nav li {
    list-style: none;
    margin-bottom: 12px;
}

.footer-nav li a {
    text-decoration: none;
    color: #171e4b;
    opacity: 0.7;
}

.social-platform {
    display: flex;
    gap: 20px;
}

.social-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 16px #cac9c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon .instagram {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}

.socila-img {
    width: 18px;
    height: 18px;
    object-fit: fill;
}

.copyright-text {
    font-size: 14px;
    opacity: 0.8;
    color: #171e4b;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 60px;
}

@media screen and (max-width: 425px) {
    body {
        width: 100%;

    }

    .navbar {
        position: relative;
        padding: 0px 30px;
    }

    .menu-img {
        display: block;
    }

    .menubar {
        display: none;
        position: absolute;
        top: 80%;
        left: 5%;
    }

    .menubar ul {

        flex-direction: column;
        width: 300px;
        background-color: #f5f5f5;
        box-shadow: 0px 0px 16px #cecbcb;
        gap: 20px;
        padding: 20px;

    }

    .show-nav {
        display: block;
    }

    .banner-container {
        flex-direction: column;
        margin: 60px 0px;
        width: 100%;
        height: auto;


    }

    .banner-content {
        width: 90%;
        margin: 0px auto;
    }

    .banner-title {
        font-size: 54px;
    }

    .banner-description {
        font-size: 14px;
    }

    .banner-subtitle {
        font-size: 18px;
    }

    .banner-img {
        width: 90%;
        margin-top: 20px;
    }

    .card-container {

        flex-direction: column;
        gap: 100px;
        align-items: center;

    }

    .location-container {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .book-section {
        width: 90%;
        margin: 0 auto;
    }

    .step-container {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .sub-card {
        right: 10%;
        bottom: -24%;
    }

    .testimonials-container {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .testimonials-card {
        width: 320px;
        margin-top: 60px;
    }

    .testimonials-para {
        font-size: 14px;
    }

    .user {
        left: -5%;
    }

    .dot-container {
        left: 10%;
        bottom: -10%;
    }

    .brand-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .brand-name {
        height: 60px;
        width: 100px;
    }

    .subscribe-container {
        width: 85%;
        margin: 0 auto;
    }

    .subscribe-container {
        height: auto;
        padding: 50px 10px;

    }

    .subscribe-content {
        width: 100%;
        flex-direction: column;
    }

    .input-field {
        width: 80%;
        margin: 0 auto;
    }

    .input-field input {
        width: 100%;
        padding-left: 45px;
        margin-left: -20px;
    }

    .email-icon {
        left: 0%;
    }

    .footer-container {
        flex-direction: column;
        gap: 60px;
        margin-top: 40px;
    }

    .main-title {
        font-size: 36px;
        color: #171e4b;
    }


}

@media screen and (min-width: 426px) and (max-width:768px) {
    body {
        width: 100%;
    }

    .navbar {
        position: relative;
        padding: 0px 30px;
    }

    .menu-img {
        display: block;
    }

    .menubar {
        display: none;
        position: absolute;
        top: 80%;
        left: 5%;
    }

    .menubar ul {

        flex-direction: column;
        width: 300px;
        background-color: #f5f5f5;
        box-shadow: 0px 0px 16px #cecbcb;
        gap: 20px;
        padding: 20px;

    }

    .show-nav {
        display: block;
    }

    .banner-container {
        flex-direction: column;
        justify-content: center;
        margin: 20px 0px;
        width: 100%;
        height: auto;
        background-image: url("./images/smiley-woman-posing-her-baggage.png");
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #aaacb8;
        background-blend-mode: overlay;
    }

    .banner-content {
        width: 90%;
        margin: 0px auto;
    }

    .banner-title {
        font-size: 54px;
    }

    .banner-img {
        display: none;
    }

    /* Services */

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
    }

    /* Destination */
    .location-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 10px;
        gap: 60px;
    }

    /* booking step */
    .book-section {
        width: 90%;
        margin: 0 auto;
    }

    .step-container {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .trip-card-container {
        width: 100%;
    }

    /* testimonials */

    .testimonials-container {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .testimonials-card {
        width: 60%;
        margin: 60px auto;
    }

    .testimonials-para {
        font-size: 14px;
    }

    .user {
        left: -5%;
    }

    .dot-container {
        left: 10%;
    }

    /* brand section */
    .brand-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .brand-name {
        height: 60px;
        width: 100px;
    }

    /* subscribe section */

    .subscribe-container {
        width: 85%;
        margin: 0 auto;
    }

    .subscribe-container {
        height: auto;
        padding: 60px 20px;

    }

    .subscribe-content {
        width: 100%;
        flex-direction: column;
    }

    .input-field {
        width: 80%;
        margin: 0 auto;
    }

    .input-field input {
        width: 100%;
        padding-left: 45px;
        margin-left: -20px;
    }

    .email-icon {
        left: 0%;
    }

    /* footer */
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        margin-top: 40px;
    }

    .copyright-text {
        text-align: left;
        padding-left: 60px;
    }

    .main-title {
        font-size: 36px;
        color: #171e4b;
    }
}